/***********************
Universal
***********************/

body {
  background-color: #0066FF;
}

a li {
  text-decoration: none;
}

#logo {
  margin: 0;
  padding: 0;
}

#generic {
  color: #FFF;
}

#generic a {
  color: #FFF;
}

#generic a:hover {
  color: #000;
}

/***********************
Body wrapper
***********************/
#wrapper {
  background-color: #70C6FF;
  max-width: 100%;
  height: 80%;
  text-decoration: none;
  text-align: center;
  padding: 2.5%;
}

/***********************
Main settings
***********************/

#main li a {
  background-color: #FFF;
  list-style: none;
}

#main ul {
  margin-left: -1.1rem;
}

/* Main Button Class */
.mainbutton {
    display: block;
    height: 50px;
    width: 150px;
    border: 2px solid #555;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 1px 0 #1b383b;
    color: #000;
}

/***********************
Top Bar area
***********************/
#welcome {
  text-align: center;
  color: white;
  margin-top: 1%;
  font-weight: 900;
}

.flash-notice {
  text-align: center;
  color: white;
  font-weight: 900;
}

.flash {
  color: white;
}


/***********************
Navigation
***********************/
nav ul {
  list-style: none;
  display: inline-block;
  margin-left: -1.1rem;
}

nav a {
  padding: 5px 5px;
}

/***********************
Bottom NAV
***********************/
.bottom_row {

}

#bottom_row li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 25px;
}

/***********************
Forms
***********************/

.new_student {
  display: block;
  max-width: 50%;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: block;
  max-width: 50%;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.new_event {
  display: inline-block;
  max-width: 50%;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.new_location {
  display: block;
  max-width: 50%;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.edit_student {
  display: block;
  max-width: 50%;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.edit_location {
  display: block;
  max-width: 50%;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

/***********************
Checkins Section
***********************/
#checkins {
  display: block;
  color: white;
  background-color: #70C6FF;
  max-width: 52%;
  margin: 5px auto;
}

#checkins_list ul {
  margin-left: 0 0 0 0px;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-left: -1.1rem;
}

#checkins_list li {
  display: block;
  text-decoration: none;
  list-style: none;
  background-color: #333333;
  margin-left: 0;
  margin-right: 0;
}

/***********************
Locations
***********************/
#location {
  color: black;

}

#location ul {
  color: black;
}

#location li {
  color: white;
  list-style: none;
  margin-left: -1.1rem;
  text-align: left;
  margin: 10px;
}

/***********************
Devise
***********************/
.new_user {
  display: block;
  text-align: left;
  margin: 10px;
  padding: 10px;
  max-width: 80%;
}

.field label {
  color: white;
}

/***********************
Headlines
***********************/
h1, h1:visited {
  color: #FFF;
}

h2, h2:visited {
  color: #EEE;
}

h3, h3:visited {
  color: #FFF;
}

img {
  max-width: 100%;
}

#h2_left {
  text-align: left;
  margin: 0 3%;
}

#h2_cen {
  text-align: center;
}

#h3_cen {
  text-align: center;
}
