<h1> admin/show </h1>
<ul>
<li><%= link_to "Create a new student", new_admin_student_path %></li>
<li><%= link_to "View all students", admin_students_path %></li>
<li><%= link_to "View or edit locations", admin_locations_path %></li>